Repository appcalipse/meetwith: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, prettier --write

feat: Add delete event handling to meeting update functions
  src/utils/database.ts
Due: biome check --write, prettier --write

feat: Add email notification for participants leaving a meeting
  src/utils/email_helper.ts
Due: biome check --write, prettier --write

feat: Add email notification for participants exiting a meeting
  src/utils/notification_helper.ts
Due: biome check --write, prettier --write

feat: Enhance PollAvailabilityModal to support merging of custom and selected block availabilities, improving flexibility in availability management
  src/components/availabilities/PollAvailabilityModal.tsx
  src/components/quickpoll/CreatePoll.tsx
  src/utils/availability.helper.ts
Due: biome check --write, prettier --write

Increase Jest coverage thresholds to 60% for statements, branches, functions, and lines
  jest.config.js
Due: biome check --write, prettier --write

Add coverage job to GitHub Actions workflow with Yarn caching and test execution
  .github/workflows/deploy.yml
Due: none

Add comprehensive test documentation outlining coverage and execution guidelines
  docs/tests.md
Due: prettier --write

Update .gitignore to include preview_email.js and test.log
  .gitignore
Due: none

chore: remove outdated security summary and test infrastructure documentation
  .github/AUTO_APPROVE_GUIDE.md
  .github/QUICKSTART.md
  .github/dependabot.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
  COMPLETION_SUMMARY.md
  COVERAGE_IMPROVEMENT_SUMMARY.md
  CRITICAL_MISSION_STATUS.md
  FINAL_COVERAGE_SUMMARY.md
  FINAL_JOURNEY_SUMMARY.md
  FINAL_RECOMMENDATION.md
  FINAL_SUMMARY.md
  OPTION_A_COMPLETION_SUMMARY.md
  PHASE1_COMPLETE.md
  PHASE1_SUMMARY.md
  PHASE2_COMPLETE.md
  PHASE2_PROGRESS.md
  PHASE3_COMPLETE.md
  PHASE3_COMPLETION_SUMMARY.md
  PHASE4_COMPLETE.md
  PHASE5_COMPLETE.md
  SECURITY_SUMMARY.md
  SECURITY_SUMMARY_FINAL.md
  TEST_COVERAGE_IMPLEMENTATION.md
  TEST_INFRASTRUCTURE_FIXES.md
  TEST_INFRASTRUCTURE_STATUS.md
  TYPE_ERRORS_FIXED.md
Due: prettier --write

chore: Add unit tests for URL validator and notBefore
  tsconfig.json
Due: prettier --write

fix: Retrieve account details from the database for accurate invitation sender information
  src/pages/api/secure/contact/invite.ts
Due: biome check --write, prettier --write

chore: Add mock for 'ws' module in Jest configuration
  jest.config.js
Due: biome check --write, prettier --write

Refactor code structure for improved readability and maintainability
  src/__tests__/pages/api/auth/login.spec.ts
  src/__tests__/pages/api/quickpoll/[slug].spec.ts
  src/__tests__/pages/api/secure/meetings/[id]/index.spec.ts
  src/__tests__/pages/api/secure/meetings/series.spec.ts
  src/__tests__/utils/database-coverage.spec.ts
Due: biome check --write, prettier --write

chore: Move coverage flag into test:ci script
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

Fix test:ci script to pass args correctly
  package.json
Due: prettier --write

Refactor Playwright configuration for improved structure and clarity
  playwright.config.ts
Due: biome check --write, prettier --write

Refactor E2E workflow: streamline environment variables and update test command
  .github/workflows/e2e.yml
Due: none

chore: enhance global setup and teardown scripts with tracing comments
  e2e/global-setup.ts
  e2e/global-teardown.ts
Due: biome check --write, prettier --write

chore: add Playwright for end-to-end testing and update test scripts
  package.json
  yarn.lock
Due: prettier --write

Upgrade upload-artifact action to v6
  .github/workflows/e2e.yml
Due: none

chore: update web server command and increase timeout for E2E tests
  playwright.config.ts
Due: biome check --write, prettier --write

feat: pass slot data to TimeSlotTooltip components for improved availability handling
  src/components/schedule/schedule-time-discover/ScheduleTimeSlot.tsx
  src/components/schedule/schedule-time-discover/TimeSlotTooltipBody.tsx
  src/components/schedule/schedule-time-discover/TimeSlotTooltipContent.tsx
Due: biome check --write, prettier --write

feat: enhance user availability checks by adding isAfterNow condition and update TimeSlotTooltipContentProps to include slot
  src/hooks/useSlotsWithAvailability.ts
  src/types/schedule.ts
Due: biome check --write, prettier --write

feat: implement Playwright E2E tests in deploy workflow and consolidate test steps
  .github/workflows/deploy.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

refactor: remove redundant validation for meeting ID format in API handler
  e2e/flows/edit-meeting.spec.ts
  src/pages/api/secure/meetings/[id]/index.ts
Due: biome check --write, prettier --write

feat: enhance edit meeting flow tests with calendar API interception and non-existent meeting update handling
  e2e/flows/edit-meeting.spec.ts
Due: biome check --write, prettier --write

feat: add data-testid attribute to Tooltip.Root for improved testing
  src/components/schedule/schedule-time-discover/ScheduleTimeSlot.tsx
Due: biome check --write, prettier --write

feat: Add PollAvailabilityModal component for managing poll-specific availability options
  src/components/availabilities/PollAvailabilityModal.tsx
  src/components/quickpoll/CreatePoll.tsx
  src/components/quickpoll/QuickPollAvailabilityDiscover.tsx
  src/components/quickpoll/QuickPollPickAvailability.tsx
  src/pages/api/secure/quickpoll/index.ts
  src/types/QuickPoll.ts
  src/utils/availability.helper.ts
  src/utils/database.ts
Due: biome check --write, prettier --write

feat: Update PollAvailabilityModal to support asynchronous save and improve user experience with loading states
  src/components/availabilities/PollAvailabilityModal.tsx
  src/components/quickpoll/ChooseAvailabilityMethodModal.tsx
  src/components/quickpoll/QuickPollAvailabilityDiscover.tsx
  src/components/quickpoll/QuickPollPickAvailability.tsx
  src/pages/poll/[slug].tsx
  src/utils/availability.helper.ts
  src/utils/constants.ts
  src/utils/storage.ts
Due: biome check --write, prettier --write

feat: Refactor PollAvailabilityModal and CreatePoll components to enhance availability handling and introduce loading states
  src/components/availabilities/PollAvailabilityModal.tsx
  src/components/quickpoll/CreatePoll.tsx
  src/components/quickpoll/PollCard.tsx
  src/components/quickpoll/QuickPollAvailabilityDiscover.tsx
  src/pages/api/quickpoll/participants/[participantId]/availability.ts
  src/types/QuickPoll.ts
  src/types/Supabase.ts
  src/types/availability.ts
  src/utils/api_helper.ts
  src/utils/database.ts
Due: biome check --write, prettier --write

feat: Enhance QuickPollPickAvailability component with desktop date navigation and improved time slot selection UI
  src/components/quickpoll/QuickPollPickAvailability.tsx
  src/styles/theme.ts
Due: biome check --write, prettier --write

feat: Refactor PollAvailabilityModal to improve availability merging with timezone support and enhance user interaction with custom options
  src/components/availabilities/PollAvailabilityModal.tsx
  src/components/group/GroupCard.tsx
  src/components/profile/components/NavItem.tsx
  src/components/quickpoll/CreatePoll.tsx
  src/components/quickpoll/PollCard.tsx
  src/types/Supabase.ts
  src/utils/availability.helper.ts
  src/utils/database.ts
Due: biome check --write, prettier --write

feat: Integrate onboarding flow for quick poll participation, enhancing user experience with success notifications and improved context handling
  src/components/availabilities/PollAvailabilityModal.tsx
  src/components/onboarding/OnboardingModal.tsx
  src/components/quickpoll/QuickPollAvailabilityDiscover.tsx
  src/pages/poll/[slug].tsx
  src/types/QuickPoll.ts
  src/utils/database.ts
Due: biome check --write, prettier --write

refactor: Update PollCard to use QuickPollListItem type, simplifying participant handling and improving type consistency
  src/components/quickpoll/PollCard.tsx
  src/types/QuickPoll.ts
Due: biome check --write, prettier --write

refactor: Remove unused availability helper functions to streamline code and improve maintainability
  src/utils/availability.helper.ts
  src/utils/quickpoll_helper.ts
Due: biome check --write, prettier --write

chore:Remove duplicate import  
  src/utils/database.ts
Due: biome check --write, prettier --write

feat: implement Privacy Policy modal and content components
  src/components/privacy/PrivacyPolicyContent.tsx
  src/components/privacy/PrivacyPolicyModal.tsx
  src/layouts/Base.tsx
  src/pages/api/secure/preferences/terms.ts
  src/types/Account.ts
  src/types/Supabase.ts
  src/utils/api_helper.ts
  src/utils/database.ts
  src/utils/email_helper.ts
Due: biome check --write, prettier --write

chore: corrected contacts fetch to fetch a max of 100 contatcts
  src/providers/schedule/ParticipantsContext.tsx
Due: biome check --write, prettier --write

Path conditions:
  biome check --write: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{less,scss})) or (any of: *.{json,md})
